In [89]:
from datetime import datetime
from pathlib import Path

from es_sfgtools.processing.pipeline.data_handler import DataHandler

In [90]:
network = 'cascadia-gorda'
station = 'NCC1'
campaign = '2024_A_1126'
dh = DataHandler(Path("/Users/franklyndunbar/Project/SeaFloorGeodesy/Data/SFGMain"))
dh.change_working_station(network, station, campaign)

Building directory structure for cascadia-gorda NCC1 2024_A_1126
No date range set for cascadia-gorda, NCC1, 2024_A_1126
Building TileDB arrays for NCC1
Changed working station to cascadia-gorda NCC1

In [91]:
dh.shotdata_tdb_pre.get_unique_dates()

array(['2024-09-22', '2024-09-23', '2024-09-24', '2024-09-25',
       '2024-09-26', '2024-09-27', '2024-09-30', '2024-10-01',
       '2024-10-03', '2024-10-04', '2024-10-05', '2024-10-06',
       '2024-10-07', '2024-10-08', '2024-10-09', '2024-10-10',
       '2024-10-11', '2024-10-12', '2024-10-13', '2024-10-14'],
      dtype='datetime64[D]')

In [92]:
day1 = datetime(2024,9,22, 0, 0, 0)
test_df = dh.shotdata_tdb_pre.read_df(day1).sort_values(by='pingTime')

In [93]:
test_df.head()

,pingTime,transponderID,head0,pitch0,roll0,head1,pitch1,roll1,east0,north0,...,up1,east_std,north_std,up_std,returnTime,tt,dbv,xc,snr,tat
0,2024-09-22 10:51:56.130,5209,10.828026,-2.797887,9.026341,7.442731,-0.023516,0.779365,-2.733006e+06,-3.912169e+06,...,4.217343e+06,7.958,12.346,20.7,2024-09-22 10:51:58.074,1.744895,239,78,14.0,0.20
2714,2024-09-22 10:51:56.130,5210,10.828026,-2.797887,9.026341,5.415583,0.506221,-1.655340,-2.733006e+06,-3.912169e+06,...,4.217343e+06,7.958,12.346,20.7,2024-09-22 10:51:58.312,1.862112,242,88,20.0,0.32
5254,2024-09-22 10:51:56.130,5211,10.828026,-2.797887,9.026341,6.627729,-0.165666,0.397638,-2.733006e+06,-3.912169e+06,...,4.217343e+06,7.958,12.346,20.7,2024-09-22 10:51:58.156,1.586259,239,81,17.0,0.44
2715,2024-09-22 10:52:11.130,5210,8.749385,4.165433,6.069981,2.194024,1.787297,2.869472,-2.733003e+06,-3.912167e+06,...,4.217346e+06,7.957,12.314,20.7,2024-09-22 10:52:13.314,1.864402,245,76,21.0,0.32
1,2024-09-22 10:52:11.130,5209,8.749385,4.165433,6.069981,4.389290,5.235104,7.258364,-2.733003e+06,-3.912167e+06,...,4.217346e+06,7.957,12.314,20.7,2024-09-22 10:52:13.076,1.746415,243,91,18.0,0.20

In [94]:
north1_unique = test_df.north1.unique().shape
test_df.north1.shape[0] - north1_unique[0]

892

In [95]:
test_df.north1.to_numpy()[:10]

array([-3912168.0138224 , -3912167.73348629, -3912167.93393657,
       -3912167.16629759, -3912167.27497734, -3912167.29827804,
       -3912161.95016907, -3912162.05464001, -3912162.28636779,
       -3912158.90552117])

In [96]:
pt = test_df.pingTime.to_numpy()[:10]
rt = test_df.returnTime.to_numpy()[:10]

In [97]:
rt

array(['2024-09-22T10:51:58.074', '2024-09-22T10:51:58.312',
       '2024-09-22T10:51:58.156', '2024-09-22T10:52:13.314',
       '2024-09-22T10:52:13.076', '2024-09-22T10:52:13.154',
       '2024-09-22T10:52:28.080', '2024-09-22T10:52:28.152',
       '2024-09-22T10:52:28.313', '2024-09-22T10:52:43.151'],
      dtype='datetime64[ms]')

In [98]:
pt

array(['2024-09-22T10:51:56.130', '2024-09-22T10:51:56.130',
       '2024-09-22T10:51:56.130', '2024-09-22T10:52:11.130',
       '2024-09-22T10:52:11.130', '2024-09-22T10:52:11.130',
       '2024-09-22T10:52:26.130', '2024-09-22T10:52:26.130',
       '2024-09-22T10:52:26.130', '2024-09-22T10:52:41.130'],
      dtype='datetime64[ms]')

In [99]:
rt[0] - pt[0]

numpy.timedelta64(1944,'ms')