In [39]:
from es_sfgtools.processing.pipeline.data_handler import DataHandler
from pathlib import Path
from datetime import datetime

In [40]:
network = 'cascadia-gorda'
station = 'NCC1'
campaign = '2024_A_1126'
dh = DataHandler(Path("/Users/franklyndunbar/Project/SeaFloorGeodesy/Data/SFGMain"))
dh.change_working_station(network, station, campaign)

Building directory structure for cascadia-gorda NCC1 2024_A_1126
No date range set for cascadia-gorda, NCC1, 2024_A_1126
Building TileDB arrays for NCC1
Changed working station to cascadia-gorda NCC1

In [41]:
dh.shotdata_tdb_pre.get_unique_dates()

array(['2024-09-22'], dtype='datetime64[D]')

In [42]:
day1 = datetime(2024,9,22, 0, 0, 0)
test_df = dh.shotdata_tdb_pre.read_df(day1).sort_values(by='pingTime')

In [43]:
test_df.head()

,pingTime,transponderID,head0,pitch0,roll0,head1,pitch1,roll1,east0,north0,...,up1,east_std,north_std,up_std,returnTime,tt,dbv,xc,snr,tat
0,2024-09-22 08:51:56.130,5209,10.828026,-2.797887,9.026341,7.442731,-0.023516,0.779365,-2733005.50,-3912169.50,...,4217343.5,7.958,12.346,20.700001,1.727024e+09,1.744895,239,78,14.0,0.20
1361,2024-09-22 08:51:56.130,5210,10.828026,-2.797887,9.026341,5.415583,0.506221,-1.655340,-2733005.50,-3912169.50,...,4217343.5,7.958,12.346,20.700001,1.727024e+09,1.862112,242,88,20.0,0.32
2641,2024-09-22 08:51:56.130,5211,10.828026,-2.797887,9.026341,6.627729,-0.165666,0.397638,-2733005.50,-3912169.50,...,4217343.5,7.958,12.346,20.700001,1.727024e+09,1.586259,239,81,17.0,0.44
1362,2024-09-22 08:52:11.130,5210,8.749386,4.165433,6.069981,2.194024,1.787297,2.869472,-2733003.25,-3912167.25,...,4217346.5,7.957,12.314,20.700001,1.727024e+09,1.864402,245,76,21.0,0.32
1,2024-09-22 08:52:11.130,5209,8.749386,4.165433,6.069981,4.389290,5.235104,7.258364,-2733003.25,-3912167.25,...,4217346.5,7.957,12.314,20.700001,1.727024e+09,1.746415,243,91,18.0,0.20

In [44]:
north1_unique = test_df.north1.unique().shape
test_df.north1.shape[0] - north1_unique[0]

1740

In [45]:
test_df.north1.to_numpy()[:10][3]

-3912167.2